.header {
    align-items: center;
    justify-content: space-between;
    display: flex;
    background: white;
    height: 3rem;
    padding: none;
    border: none;
}
.youtube-logo {
    height: 1.5rem;
}
.profile {
    height: 1.8rem;
    border-radius: 400px;
}
.search-input {
    width: 400px;
    height: 1.3rem;
    padding-right: -0.5rem;
}
.menu-icons {
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.search-button {
    cursor: pointer;
    padding-left: -0.5rem;
    height: 1.6rem;
}
.mainbody {
    background: #f8f8f8;
    padding: 15px 30px;
    border: none;
    display: flex;   
}
.videos {
    width: 60%;
    background: #f8f8f8;
    padding-left: none;
    
}
.video-recommendation {
    
    width: 30%;
    background-color: white;
    padding-left: none;
}
.my-video {
    width: 760px;
}
iframe {
    height: 420px;
    width: 750px;
}
.video-details {
    padding-top: 15px;
   
}
.video-tag {
    text-decoration: none;
    font-size: 0.8rem;
    padding-top: 2rem;
    padding-bottom: -20px;
}
h1 {
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: -2rem;
   
}
h2 {
    font-size: 0.8rem;
    font-weight: 300;
    padding-top: 15px;
}
.share, .like, .unlike, .save, .more {
    height: 20px;
    padding: none;
}
.like-reaction, .unlike-reaction, .share-reaction, .save-reaction, .more-reaction {
    text-decoration: none;
    color: #808080;
    
    
}

.video-reaction {
    padding-top: none;
    display: flex;
    justify-content: space-between;
}
.video-views {
    padding-top: none;
    

}
.video-otherviews {
    padding-top: 1.2rem;
    
}
.top {
    justify-content: space-between;
    display: flex;
    
}
.top h1 {
    font-weight: lighter;
}

.channel-section {
    padding-left: none;
    padding-top: none;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    display: normal;
}
.channel-icon {
    border-radius: 500px;
    height: 60px;
}
.channel {
    display: flex;
}
.yoruba {
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
    color: black;
}
.other {
    padding-left: 80px;
    font-weight: lighter;
}
.other a {
    text-decoration: none;
    font-weight: lighter;
    color: black;
}
.thumbnail-image {
    width: 98%;
    height: 120px;
    padding-right: none;
    display: full;
}
.video-thumbnail {
    float: left;

}
.video-thumbnail-details {
    width: 50%;
    float: left;
    cursor: pointer;
}
.thumbnail-section {
   display: flex;
}
.video-thumbnail-details h2 {
    font-size: 12px;
    margin-top: -0.5rem;
    font-weight: lighter;
}
.video-thumbnail-details h1 {
    font-size: 15px;
    margin-top: none;
    font-weight: bold;

}
.page-bottom {
    padding-left: 40px;
    height: 200px;
}
.top-bottom {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}
.last {
    height: 70px;
    background-color: #f8f8f8;
}
.about {
    display: flex;
    justify-content: space-around;
}
.other-about {
    display: flex;
    font-weight: lighter;
    justify-content: space-around;
}